.Rproj.user/55484A60/pcs/source-pane.pper
.Rproj.user/55484A60/pcs/files-pane.pper
.Rproj.user/55484A60/saved_source_markers
.Rproj.user/55484A60/rmd-outputs
.Rproj.user/55484A60/pcs/workbench-pane.pper
.Rproj.user/55484A60/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/ck0v8jmhnrfqh/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/chunks.json
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/cam1yrlz3el1j/000010.error
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/cam1yrlz3el1j/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/c7g5qgk796k9x/000010.error
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/c7g5qgk796k9x/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/55484A60162fc50/chunks.json
.Rproj.user/55484A60/sources/session-162fc50/lock_file
.Rproj.user/55484A60/sources/session-162fc50/CA4F426C-contents
.Rproj.user/55484A60/sources/session-162fc50/92674A88-contents
.Rproj.user/55484A60/sources/session-162fc50/92674A88
.Rproj.user/55484A60/sources/session-162fc50/207D6F3E-contents
.Rproj.user/55484A60/sources/session-162fc50/207D6F3E
.Rproj.user/55484A60/sources/session-162fc50/1D20863E-contents
.Rproj.user/55484A60/sources/session-162fc50/1D20863E
.Rproj.user/55484A60/sources/session-162fc50/0E98F315-contents
.Rproj.user/55484A60/sources/session-162fc50/0E98F315
.Rproj.user/55484A60/sources/prop/INDEX
.Rproj.user/55484A60/sources/prop/E6459329
.Rproj.user/55484A60/sources/prop/B4A41211
.Rproj.user/55484A60/sources/prop/82697ABF
.Rproj.user/55484A60/sources/prop/5CE9A042
.Rproj.user/55484A60/sources/prop/57498273
.Rproj.user/55484A60/sources/prop/3476D2A7
.Rproj.user/55484A60/sources/prop/28A3A314
.Rproj.user/55484A60/quarto-crossref/INDEX
.Rproj.user/55484A60/quarto-crossref/7D9AFE8A
.Rproj.user/55484A60/jobs/652A8943-output.json
.Rproj.user/55484A60/jobs/501C6C54-output.json
.Rproj.user/55484A60/quarto-crossref/1CB93E46
.Rproj.user/55484A60/sources/prop/6FFE37AB
.Rproj.user/55484A60/sources/prop/9153DE98
.Rproj.user/55484A60/sources/session-162fc50/1A6AF0E3
.Rproj.user/55484A60/sources/session-162fc50/1A6AF0E3-contents
.Rproj.user/55484A60/sources/session-162fc50/6C38A753
.Rproj.user/55484A60/sources/session-162fc50/6C38A753-contents
.Rproj.user/shared/notebooks/45E01041-tests.vimp/1/55484A60162fc50/chunks.json
.Rproj.user/shared/notebooks/45E01041-tests.vimp/1/s/chunks.json
.Rproj.user/shared/notebooks/6757F119-tests.pred_generators/1/s/chunks.json
.Rproj.user/55484A60/sources/session-162fc50/166381FE-contents
.Rproj.user/55484A60/sources/session-162fc50/166381FE
.Rproj.user/55484A60/sources/session-b0191bd8/lock_file
.Rproj.user/55484A60/jobs/EDCC6631-output.json
.Rproj.user/55484A60/quarto-crossref/A92DA7F1
.Rproj.user/55484A60/sources/prop/FF023A94
.Rproj.user/55484A60/sources/session-b0191bd8/734A70F6
.Rproj.user/55484A60/sources/session-b0191bd8/734A70F6-contents
.Rproj.user/55484A60/sources/session-b0191bd8/DBFF69E2
.Rproj.user/55484A60/sources/session-b0191bd8/DBFF69E2-contents
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/55484A60b0191bd8/chunks.json
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cch3rvtyzez79/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/chunks.json
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cpjdleyiaf9in/00000f.csv
.Rproj.user/55484A60/sources/prop/C0BA63A2
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cvhc0gt97a8sc/000010.html
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cvhc0gt97a8sc/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000015.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000014.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000014.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000014.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000013.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000012.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000012.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000012.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000011.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000010.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000010.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/000010.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cs8dxsdno7u2m/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cmnavjz1edrrr/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cmkmzuzin688t/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000014.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000014.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000014.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000013.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000012.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000012.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000012.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000011.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000010.snapshot
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000010.png
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/000010.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cev205r899j5s/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cbx4fa8o66nwp/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c8ibdum4cgkg8/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c7rz9rq4y7n3x/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c72d1pt2jhxhe/000010.metadata
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c72d1pt2jhxhe/000010.html
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c72d1pt2jhxhe/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c2ikw06a2ius4/00000f.csv
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/c08efk5ignuau/00000f.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/chunks.json
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/55484A60b0191bd8/chunks.json
.Rproj.user/55484A60/sources/prop/D7CB78B6
.Rproj.user/55484A60/sources/prop/89A4CCF4
.Rproj.user/55484A60/sources/prop/89670D69
.Rproj.user/55484A60/sources/prop/35DF30E7
.Rproj.user/55484A60/sources/prop/2A1BD9C7
.Rproj.user/55484A60/sources/per/t/734A70F6-contents
.Rproj.user/55484A60/sources/per/t/734A70F6
.Rproj.user/55484A60/sources/per/t/531C2506-contents
.Rproj.user/55484A60/sources/per/t/531C2506
.Rproj.user/55484A60/quarto-crossref/3B645731
.Rproj.user/shared/notebooks/96F7BBC2-tests.vimp/1/s/cvhc0gt97a8sc/000010.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cmoghxcispf6a_t/migration.target
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cmoghxcispf6a/migration.target
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cmoghxcispf6a/000021.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c4jneegxpe5o1/00001d.error
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c4jneegxpe5o1/00001c.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c2z5r3y9bpcvs/00000f.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/55484A60b0191bd8/c4jneegxpe5o1_t/migration.target
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/55484A60b0191bd8/c4jneegxpe5o1_t/execution.lock
.Rproj.user/55484A60/sources/session-b0191bd8/F2B12ED8-contents
.Rproj.user/55484A60/sources/session-b0191bd8/EB0E2929-contents
.Rproj.user/55484A60/sources/session-b0191bd8/D68D856D-contents
.Rproj.user/55484A60/sources/session-b0191bd8/D4982224-contents
.Rproj.user/55484A60/sources/session-b0191bd8/D48DA395-contents
.Rproj.user/55484A60/sources/session-b0191bd8/CEAFAB2C-contents
.Rproj.user/55484A60/sources/session-b0191bd8/C0810940-contents
.Rproj.user/55484A60/sources/session-b0191bd8/A4028F45-contents
.Rproj.user/55484A60/sources/session-b0191bd8/A4028F45
.Rproj.user/55484A60/sources/session-b0191bd8/94DD9101-contents
.Rproj.user/55484A60/sources/session-b0191bd8/94B2E63A-contents
.Rproj.user/55484A60/sources/session-b0191bd8/94B2E63A
.Rproj.user/55484A60/sources/session-b0191bd8/76DBCD31-contents
.Rproj.user/55484A60/sources/session-b0191bd8/6301AD7C-contents
.Rproj.user/55484A60/sources/session-b0191bd8/59F4DED4-contents
.Rproj.user/55484A60/sources/session-b0191bd8/59F4DED4
.Rproj.user/55484A60/sources/session-b0191bd8/531C2506-contents
.Rproj.user/55484A60/sources/session-b0191bd8/2FC6EB77-contents
.Rproj.user/55484A60/sources/session-b0191bd8/2A28824C-contents
.Rproj.user/55484A60/sources/session-b0191bd8/21A6814F-contents
.Rproj.user/55484A60/sources/session-b0191bd8/1C533F69-contents
.Rproj.user/55484A60/sources/session-b0191bd8/0C081262-contents
.Rproj.user/55484A60/sources/session-b0191bd8/09E82591-contents
.Rproj.user/55484A60/sources/session-b0191bd8/09D3BD36-contents
.Rproj.user/55484A60/sources/prop/F9E7DCE3
.Rproj.user/55484A60/sources/prop/D39138E1
.Rproj.user/55484A60/sources/session-b0191bd8/D4207D3C
.Rproj.user/55484A60/sources/session-b0191bd8/D4207D3C-contents
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cdb0yui794dyt/00002e.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000012.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000012.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000012.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000011.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000010.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000010.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/000010.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cpi3oh5boq4fz/00000f.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001b.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001b.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001b.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cjnv63h9t24ei/000016.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cjnv63h9t24ei/000015.rdf
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cjnv63h9t24ei/000015.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cjnv63h9t24ei/000014.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000012.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000012.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000012.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000011.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000010.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000010.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/000010.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cgnoa2h6gnrni/00000f.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000014.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000014.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000014.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000013.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000012.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000012.html
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000011.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000010.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000010.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/000010.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cfa0aqhvd64ex/00000f.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr_t/execution.lock
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr_t/acd0ef20fa084aef93dfeb316bd12def.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr_t/_rs_chunk_plot_002.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr_t/_rs_chunk_plot_001.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr/execution.lock
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr/000017.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c6v7qjbojomwr/000015.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c2z5r3y9bpcvs/000011.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/c2rbm658krs9u/000011.csv
.Rproj.user/55484A60/sources/session-b0191bd8/F5198C95-contents
.Rproj.user/55484A60/sources/session-b0191bd8/ED17E78F-contents
.Rproj.user/55484A60/sources/session-b0191bd8/CC81EF75-contents
.Rproj.user/55484A60/sources/session-b0191bd8/B4041872-contents
.Rproj.user/55484A60/sources/session-b0191bd8/A115B00D-contents
.Rproj.user/55484A60/sources/session-b0191bd8/9B57A512-contents
.Rproj.user/55484A60/sources/session-b0191bd8/89C5D5D2-contents
.Rproj.user/55484A60/sources/session-b0191bd8/87D06D98-contents
.Rproj.user/55484A60/sources/session-b0191bd8/762EB9B6-contents
.Rproj.user/55484A60/sources/session-b0191bd8/6B1FA6CF-contents
.Rproj.user/55484A60/sources/session-b0191bd8/5F98C29D-contents
.Rproj.user/55484A60/sources/session-b0191bd8/5A9794B7-contents
.Rproj.user/55484A60/sources/session-b0191bd8/57AC6113-contents
.Rproj.user/55484A60/sources/session-b0191bd8/4ED88947-contents
.Rproj.user/55484A60/sources/session-b0191bd8/4B03F66D-contents
.Rproj.user/55484A60/sources/session-b0191bd8/40EE754B-contents
.Rproj.user/55484A60/sources/session-b0191bd8/352E4177-contents
.Rproj.user/55484A60/sources/session-b0191bd8/352E4177
.Rproj.user/55484A60/sources/session-b0191bd8/30E7F5F1-contents
.Rproj.user/55484A60/sources/session-b0191bd8/28B14CD2-contents
.Rproj.user/55484A60/sources/session-b0191bd8/20867680-contents
.Rproj.user/55484A60/sources/session-b0191bd8/1A66CA84-contents
.Rproj.user/55484A60/sources/session-b0191bd8/177794E6-contents
.Rproj.user/55484A60/sources/session-b0191bd8/14E8B22E-contents
.Rproj.user/55484A60/sources/prop/B074FF4D
.Rproj.user/55484A60/sources/prop/957F2C75
.Rproj.user/55484A60/jobs/C03BEF90-output.json
.Rproj.user/55484A60/jobs/251CB7C0-output.json
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001e.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001d.rdf
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001d.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cobpekp32b9x6/00001c.csv
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001c.snapshot
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001c.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001c.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001b.png
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001b.metadata
.Rproj.user/shared/notebooks/3CDDB949-tests.generate_data/1/s/cixt0b2jr4hs0/00001a.csv
.Rproj.user/55484A60/sources/session-b0191bd8/52CF0355-contents
.Rproj.user/55484A60/sources/session-b0191bd8/52CF0355
.Rproj.user/55484A60/jobs/14416FCD-output.json
