# ======================
# R specific
# ======================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ======================
# Outputs
# ======================
outputs/

# ======================
# Documents
# ======================
docs/

# ======================
# Report sources
# ======================

report_sources/
*_files/
*.knit.md
*.utf8.md
