.Rproj.user/55484A60/pcs/source-pane.pper
.Rproj.user/55484A60/pcs/files-pane.pper
.Rproj.user/55484A60/saved_source_markers
.Rproj.user/55484A60/rmd-outputs
.Rproj.user/55484A60/pcs/workbench-pane.pper
.Rproj.user/55484A60/pcs/windowlayoutstate.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/ck0v8jmhnrfqh/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/chunks.json
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/cam1yrlz3el1j/000010.error
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/cam1yrlz3el1j/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/c7g5qgk796k9x/000010.error
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/s/c7g5qgk796k9x/00000f.csv
.Rproj.user/shared/notebooks/8BE2BF6B-tests.generate_data/1/55484A60162fc50/chunks.json
.Rproj.user/55484A60/sources/session-162fc50/lock_file
.Rproj.user/55484A60/sources/session-162fc50/CA4F426C-contents
.Rproj.user/55484A60/sources/session-162fc50/92674A88-contents
.Rproj.user/55484A60/sources/session-162fc50/92674A88
.Rproj.user/55484A60/sources/session-162fc50/207D6F3E-contents
.Rproj.user/55484A60/sources/session-162fc50/207D6F3E
.Rproj.user/55484A60/sources/session-162fc50/1D20863E-contents
.Rproj.user/55484A60/sources/session-162fc50/1D20863E
.Rproj.user/55484A60/sources/session-162fc50/0E98F315-contents
.Rproj.user/55484A60/sources/session-162fc50/0E98F315
.Rproj.user/55484A60/sources/prop/INDEX
.Rproj.user/55484A60/sources/prop/E6459329
.Rproj.user/55484A60/sources/prop/B4A41211
.Rproj.user/55484A60/sources/prop/82697ABF
.Rproj.user/55484A60/sources/prop/5CE9A042
.Rproj.user/55484A60/sources/prop/57498273
.Rproj.user/55484A60/sources/prop/3476D2A7
.Rproj.user/55484A60/sources/prop/28A3A314
.Rproj.user/55484A60/quarto-crossref/INDEX
.Rproj.user/55484A60/quarto-crossref/7D9AFE8A
.Rproj.user/55484A60/jobs/652A8943-output.json
.Rproj.user/55484A60/jobs/501C6C54-output.json
.Rproj.user/55484A60/quarto-crossref/1CB93E46
.Rproj.user/55484A60/sources/prop/6FFE37AB
.Rproj.user/55484A60/sources/prop/9153DE98
.Rproj.user/55484A60/sources/session-162fc50/1A6AF0E3
.Rproj.user/55484A60/sources/session-162fc50/1A6AF0E3-contents
.Rproj.user/55484A60/sources/session-162fc50/6C38A753
.Rproj.user/55484A60/sources/session-162fc50/6C38A753-contents
.Rproj.user/shared/notebooks/45E01041-tests.vimp/1/55484A60162fc50/chunks.json
.Rproj.user/shared/notebooks/45E01041-tests.vimp/1/s/chunks.json
.Rproj.user/shared/notebooks/6757F119-tests.pred_generators/1/s/chunks.json
